<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TJ-XPress</title>
    <link rel="icon" href="/assets/tjxpress.svg">

    <!--Bulma CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>

  <body>

    <nav class="navbar">
        <div class="navbar-brand">
          <!-- navbar items, navbar burger... -->
          <a class="navbar-item">
            <img src="/assets/tjxpress.svg" alt="TJXpress Logo" width="112" height="28">
          </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" id="signup">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" id="login">Log in</a>
              </div>
            </div>
          </div>
    </nav>

    <section class="section is-large">
        <div class="container my-6 px-6 py-6">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-7">
                    <figure><img src="/assets/tjxpress.svg" alt="TJXpress Logo" class="px-6"></figure>
                </div>
                <div class="column is-5"></div>
            </div>
            <div class="columns">
                <div class="column is-6"></div>
                <div class="column is-7">
                    <h1 class="is-size-3 title">THE Order Tracking application</h1>
                    <h2 class="is-size-5 subtitle">Amplify your Customer Service Representatives' productivity.</h2>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <section class="section has-background-warning-light is-large">
        <div class="container my-6 px-6 py-6">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-7">
                    <h1 class="is-size-3 title">Feature packed</h1>
                    <h2 class="is-size-5 subtitle">Create and modify both customers and their orders. Search a product catalog against which orders can be created, and manage the functional lifecycle of all orders.</h2>     
                </div>
                <div class="column is-6"></div>
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
                <div class="column"><img class="image is-128x128 px-4" src="/assets/add_circle_black_48dp.svg" alt=""></div>
                <div class="column"><img class="image is-128x128 px-4" src="/assets/analytics_black_48dp.svg" alt=""></div> 
                <div class="column"><img class="image is-128x128 px-4" src="/assets/edit_black_48dp.svg" alt=""></div>
                <div class="column"><img class="image is-128x128 px-4" src="/assets/manage_search_black_48dp.svg" alt=""></div>
                <div class="column"><img class="image is-128x128 px-4" src="/assets/inventory_black_48dp.svg" alt=""></div>
                <div class="column"><img class="image is-128x128 px-4" src="/assets/shopping_cart_black_48dp.svg" alt=""></div> 
                <div class="column"></div>
            </div>
        </div>
    </section>
    <section class="section is-large">
        <div class="container my-6 px-6 py-6">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-4 has-text-centered">
                    <img src="/assets/azure.svg" alt="" class="px-6">     
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="/assets/actions-icon-actions.svg" alt="" class="px-6">     
                </div>
                <div class="column is-6"></div>
                <div class="column"></div>
            </div>
            <div class="columns">
                <div class="column"></div>
                <div class="column is-5"></div>
                <div class="column is-7">
                    <h1 class="is-size-3 title">Accessible anywhere, anytime</h1>
                    <h2 class="is-size-5 subtitle">Deployed on Azure. Always up-to-date with Github Actions CI/CD piplelines.</h2>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <section class="section has-background-warning-light is-large">
    <div class="container my-6 px-6 py-6">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-6">
                <h1 class="is-size-3 title">Great documentation</h1>
                <h2 class="is-size-5 subtitle">API documented using OpenAPI specification. Additional Swagger tools might have been used.</h2>     
            </div>
            <div class="column is-6"></div>
            <div class="column"></div>
        </div>
        <div class="columns is-vcentered">
            <div class="column"></div>
            <div class="column is-3"></div>
            <div class="column">
                <figure><img src="/assets/openapi-wordmark-1.svg" alt=""></figure></div>
            <div class="column">
                <figure><img class="px-4" src="/assets/swagger.svg" alt=""></figure></div> 
            <div class="column"></div>
        </div>
    </div>
    </section>

    <footer class="footer">
      <div class="container px-6">
        <div class="content has-text-centered">
            <div class="columns is-vcentered">
                <div class="column">
                    <a href="https://tjxinc.sharepoint.com/sites/TheThread.US/en-us/Departments/CorporateCompliance/Pages/default.aspx">Corporate Compliance</a>
                </div>
                <div class="column">
                    <a href="https://tjxinc.sharepoint.com/sites/TheThread.US/en-us/Departments/CorporateCompliance/COC/Pages/default.aspx">Code of Conduct</a>
                </div>
                <div class="column is-one-fifth">
                    <figure>
                        <img src="/assets/tjxpress.svg" alt="">    
                    </figure>
                </div>
                <div class="column">
                    <a href="https://tjxinc.sharepoint.com/sites/TheThread.US/en-US/Pages/PortalDisclaimer.aspx">Terms of use</a>
                </div>
                <div class="column">
                    <a href="https://tjxinc.sharepoint.com/sites/TheThread.US/en-us/Departments/CorporateCompliance/TJXIMP/Pages/default.aspx">TJX Information Management Program</a>
                </div>
            </div>
            <hr>
            <figure>
                <img src="/assets/all-logos.png" alt="">
            </figure>
        </div>
      </div>
    </footer>

    <!--Login Modal-->
    <div class="modal is" id="loginModal">
        <div class="modal-background" id="loginModalBg"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <div class="container has-text-centered">
                <div>
                    <figure class="image is-128x128 is-inline-block"><img class="is-rounded" src="/assets/account_circle_black_24dp.svg" alt=""></figure>
                    <h1 class="is-size-1 title">Welcome!</h1>
                </div>
            </div>
            <form id="form" action="/api/auth/password" method="POST">
                <div class="field">
                    <div class="control">
                        <input id="username" type="text" class="input" placeholder="username" name="username">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="password" type="password" class="input" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="mt-6 has-text-centered">
                    <button id="login-submit" class="button is-danger is-dark is-medium" type="submit" value="Submit input">Login</button>
                </div>
            </form>
        </div>
    </div>

    <!--Signup Modal-->
    <div class="modal" id="signupModal">
        <div class="modal-background" id="signupModalBg"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-fifth"><figure class="image is-96x96"><img class="is-rounded" src="/assets/account_circle_black_24dp.svg" alt=""></figure></div>
                    <div class="column"><h1 class="is-size-1 title">Create Account</h1></div>
                </div>
                <form action="">
                    <div class="field">
                        <label for="" class="label">Email ID</label>
                        <div class="control">
                            <input type="email" class="input" placeholder="Email ID">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Username</label>
                        <div class="control">
                            <input type="text" class="input" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Password</label>
                        <div class="control">
                            <input type="password" class="input" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">Role</label>
                        <div class="control">
                            <div class="select">
                                <select name="" id="">
                                    <option value="">CSR</option>
                                    <option value="">Customer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 has-text-centered">
                        <button class="button is-danger is-dark is-medium" type="submit" value="Submit input">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="/scripts/homepage.js"></script>

  </body>
</html>
